<form class="navbar-form" method="post" asp-controller="Restaurant" asp-action="Index">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" name="id" placeholder="Search for...">
            <span class="input-group-btn">
                <input class="btn btn-default" type="submit" value="Search">
            </span>
        </div>
    </div>
</form>